body {
	background:url(../images/background.jpg) fixed center top;
}

.wrapper {
	max-width: 960px;
	width: 100%;
	background-color: #FFFFFF;
	margin: 10px auto;
	color: #000000;
	padding: 10px;
}

header {
	background:url(../images/header.jpg) no-repeat center top;
	margin: 0px auto;
	text-align: center;
	width: 100%;
}

li {
	display: inline;
	margin: 50px;
}

ul {
	background-color: rgba(255, 255, 255, 0.8);
}

h1 {
	font-size: 50px;
	color: #FFFFFF;
	padding-top: 50px;
}

nav {

	padding: 75px 0px 0px 0px;
}