body {
	background:url(../images/background.jpg) fixed center top;
	font: 100%;
}

.wrapper {
	max-width: 960px;
	width: 100%;
	background-color: #FFFFFF;
	margin: 0 auto;
	color: #000000;
	padding: 1.04166666666667%;
}

header {
	background:url(../images/header.jpg) no-repeat center top;
	margin: 0px auto;
	text-align: center;
	width: 100%;
}

li {
	display: inline;
	margin: 5.20833333333333%;
}

ul {
	background-color: rgba(255, 255, 255, 0.8);
}

h1 {
	font-size: 3.125em; /*50px*/
	color: #FFFFFF;
	padding-top: 60px;
	text-shadow: 2px 2px 7px #303030;
}

nav {

	padding-top: 7.8125%;
}

h2 {
	text-align: center;
}

footer {
	text-align: center;
	padding-top: 1.04166666666667%;
	clear: both;
}

.kam {
	width: 92.59259259259259%;
	margin: 0 auto;
}

.richie {
	width: 82.17592592592593%;
	margin: 0 auto;
}

.ellington {
	width: 92.59259259259259%;
	margin: 0 auto;
}

.dt6 {
	width: 92.59259259259259%;
	margin: 0 auto;
}

.dl {
	width: 92.59259259259259%;
	margin: 0 auto;
}

.cole {
	width: 92.59259259259259%;
	margin: 0 auto;
}

img {
	width: 100%;
}

.content {
	width: 48%; 
	float: left;
	border: 3px solid #000000;
}

aside {
	width: 48%; 
	float: right;
	border: 3px solid #000000;
}

p {
	padding: 5px;
}

@media screen and (min-width: 768px) and (max-width: 960px) {
	body{ background: url(disable) #000000; }
	.wrapper{background-color: #000000; color:#FFFFFF; border: 3px solid #FFFFFF;}
	.content, aside {border: 3px solid #FFFFFF;}
}

@media screen and (min-width: 480px) and (max-width: 767px) {
	.content, aside {float:none; width: 100%; }
	.richie {width:48%;}
	header{ background:url(../images/bg2.jpg) no-repeat center top; }
	li {margin: 4%;}
}

@media screen and (max-width: 479px){
	.content, aside {float:none; width: 100%; }
	nav { display: none;}
	h1 {padding-bottom: 5px;}
	img {display: none;}
	li {display: list-item; list-style-type: none;}
	header{ background:url(../images/bg3.jpg) no-repeat center top; }
}